/*#region main*/

/*#region slider*/

.slider {
    position: relative;
    overflow: hidden;
    direction: ltr;
}

.slider:hover .slider-pointer {
    visibility: visible;
}

.slider:hover .left-pointer {
    left: 0;
}

.slider:hover .right-pointer {
    right: 0;
}

.slider-pointer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    visibility: hidden;
    width: 4rem;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    cursor: pointer;

    -webkit-transition: all 300ms;
    transition: all 300ms;
}

.left-pointer {
    left: -4rem;
}

.right-pointer {
    right: -4rem;
}

.slider-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    right: 0;
}

.pagination-icon-btn {
    background-color: transparent;
    border: none;

    line-height: 3;
    font-size: 0.7rem;
    padding: 0 0.2rem;
    color: #fff;
}

.pointer-icon {
    color: #fff;
    font-size: 2.5rem;
}

.slider-images {
    display: flex;
    align-items: center;
    direction: rtl;
}

.slider-image-wrap {
    display: block;
    width: 0;
    transition: all 500ms;
    -webkit-transition: all 500ms;
}

.slider-image {
    display: block;
}

/*#endregion slider*/

/*region product show cases*/

.products-samples-wrap {
    padding: 0 2rem;
}

.products-samples-mode1 {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.product-sample-1 {
    display: block;
}

.product-sample-1 {
    width: 49%;
}

.product-sample-2 {
    width: 24%;
}

.product-sample-1-link {
    display: block;
    color: #000000bd;
    text-decoration: none;
    text-align: center;
}

.product-sample-1-img-wrap {
    overflow: hidden;
}

.product-sample-1-img {
    width: 100%;

    transition: all 500ms;
    -webkit-transition: all 500ms;
}

.product-sample-1-text {
    display: block;
    line-height: 2;
    font-size: 2rem;
}

.product-sample-1-link:hover {
    color: #c30e0f;
}

.product-sample-1-link:hover .product-sample-1-img {
    transform: scale(1.2);
}

.product-sample-1-price-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 1.2;
    font-size: 1.5rem;
    color: #000;
}

.product-sample-1-prev-price {
    text-decoration: line-through;
    padding: 0 1rem;
}

.product-sample-1-offered-price {
    font-weight: bold;
    padding: 0 1rem;
}

.product-sample-1-price {
    font-weight: bold;
}

/*#endregion product show cases*/

/*#endregion main*/