/*#region productMenu*/
.products-section {
    /* display: flex; */
    /* flex-direction: row; */
}

.products-filters {
    width: 20%;
}

.products-list-wrap {
    /* width: 80%; */
    padding: 0 2rem;
}

.products-list-text {
    border-bottom: solid #0000003a;
}

.products-list-title {
    display: block;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: bold;
    margin-right: 0.5rem;
    color: #000000bd;
}

.products-list {
    list-style-type: none;
    display: flex;
    flex-flow: wrap;
}

.products-list-item {
    width: 20%;
    padding: 1rem;
}

.products-list-item-link {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
}

.products-list-item-img-wrap {
    overflow: hidden;
}

.products-list-item-img {
    display: block;
    width: 100%;

    transition: all 500ms;
    -webkit-transition: all 500ms;
}

.products-list-item-texts {
    text-align: center;
    line-height: 2;
    font-size: 1.6rem;
}

.products-list-item-texts-desc {
    display: block;
    color: #000000bd;

    transition: all 300ms;
    -webkit-transition: all 300ms;
}

.products-list-item-texts-price-wrap {
    color: #000;

    transition: all 300ms;
    -webkit-transition: all 300ms;
}

.products-list-item-texts-price {
    font-weight: bold;
}

.products-list-item-texts-prev-price {
    text-decoration: line-through;
    padding: 0 1rem;
    color: #000000bd;
}

.products-list-item-texts-offered-price {
    font-weight: bold;
    padding: 0 1rem;
}

.products-list-item:hover .products-list-item-texts-desc {
    color: #c30e0f;
}

.products-list-item:hover .products-list-item-img {
    transform: scale(1.2);
}

.products-list-pagination-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    direction: ltr;
    font-size: 2rem;
}

.products-list-pagination {
    display: block;
    margin: 0 1rem;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.products-list-pagination-text {
    line-height: 2;
}

.products-list-pagination-icon {
    display: block;
    line-height: 2 !important;
}

.products-list-pagination-icon {
    transition: all 300ms;
    -webkit-transition: all 300ms;
}

.left-pagination:hover .left-pagination-icon {
    transform: translateX(-0.5rem);
}

.right-pagination:hover .right-pagination-icon {
    transform: translateX(0.5rem);
}

/*#endregion productMenu*/